<div class="container ">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="form-group ">
<h1>New Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>
</div>
</div>
</div>
